#container {
    height: 100vh;
    background-color: #FFFAF0;

}

.navigation-container {
    overflow: scroll;
    width: 130rem
}

.action-container {
    background-color: Peru;
}

.quick-navigation-container {
    /* background-color: rgb(114, 177, 202); */
}

.process-internal-container {
    /* background-color: burlywood; */
}

.attr-title {
    /* background-color: azure; */
    width: 10em
}

.cuboid-container {
    width: '120px';
    height: '400px';
    background-color: cyan;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card {
    cursor: pointer;
}

.custom-control-label::before {
    background-color: #28a745;
}

.custom-switch .custom-control-label::after {
    background-color: white;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: red;
}